<%- include("partials/header.ejs") %>
<div class="account-container ">
    <div class="row ">
        <div class="col border border-dark">
            <!-- account -->
            <h6>Welcome back <%= customerData.fullname %>!</h6>
            <h6>Your BTC balance: <%= customerData.btc %></h6>
            <h6>Your ETH balance: <%= customerData.eth %></h6>
            <h6>Your USD balance: <%= customerData.usd %></h6>
            <h6>Your TRY balance: <%= customerData.trl %></h6>
            <a class="btn btn-warning" href="/login">Log Out</a>
        </div>
        <div class="col border border-dark">
            <!-- transfer -->
            <h6>TRANSFER</h6>
            <form action="/transfer" method="post" class="form-login">
                <div class="form-login">
                  <label for="currency">Choose the currency to send: </label>
                  <br>
                  <select id="currency" name="currency" required>
                    <option value="btc">btc</option>
                    <option value="eth">eth</option>
                    <option value="usd">usd</option>
                    <option value="try">try</option>
                  </select>
                </div>
                <div class="form-login">
                  <label for="amount">Enter the amount: </label>
                  <br>
                  <input type="text" name="amount" id="amount" required>
                </div>
                <div class="form-login">
                    <label for="username">Enter the username which receives the money: </label>
                    <br>
                    <input type="text" name="username" id="username" required>
                    <p class="fw-light">(Usernames are treated like IBANs)</p>
                  </div>
                <div class="form-login">
                  <input class="btn btn-warning" type="submit" value="Send!">
                </div>
                <div class="form-login">
                  <% if (txData != null && txData.tx == "sameuser") { %>
                    <h6>Can not transfer to yourself!</h6>
                  <% } %>
                  <% if (txData != null && txData.tx == "success") { %>
                    <h6>Transfer completed!</h6>
                  <% } %>
                  <% if (txData != null && txData.tx == "nobalance") { %>
                    <h6>Your balance is not enough!</h6>
                  <% } %>
                  <% if (txData != null && txData.tx == "nouser") { %>
                    <h6>Recipient not found!</h6>
                  <% } %>
                  <% if (txData != null && txData.tx == "sql-injection") { %>
                    <h6>You can not insert " ; " or " = ". Try again.</h6>
                  <% } %>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border border-dark">
            <h6>YOUR TRANSFERS</h6>
            <table>
              <tr>
              <% transfersData.forEach(entry => { %>
              <% if(customerData.username == entry.fromUsername) { %>
                <th><pre>TRANSFER:OUT | </pre></td>
              <% } %>
              <% if(customerData.username == entry.toUsername) { %>
                <th><pre>TRANSFER:IN  | </pre></td>
              <% } %>
              <th><pre>FROM: <%= entry.fromUsername %></pre></td>
              <th><pre> (<%= entry.fromName %>) </pre></td>
              <th><pre>| TO:<%= entry.toUsername %></pre></td>
              <th><pre> (<%= entry.toName %>)</pre></td>
              <th><pre> | AMOUNT: <%= entry.txAmount %></pre></td>
              <% if(entry.txCurrency == "trl") { %>
                <th><pre><%= "try" %></pre></td>
              <% } else { %>
                <th><pre><%= entry.txCurrency %></pre></td>
              <% } %>
              </tr>
            <% }) %>
            </table>
        </div>
        <div class="col border border-dark">
            <!-- exchange -->
            <h6>EXCHANGE</h6>
            <form class="row" action="/exchange" method="post" class="form-login">
              <div class="col-auto">
                <label for="currency">CONVERT</label>
              </div>
              <div class="form-login col-auto">
                <input type="text" name="amount" id="amount" size="4" required>
              </div>
              <div class="col-auto">
                <label for="currency">AMOUNT OF</label>
              </div>
              <div class="form-login col-auto">
                <select id="currencyFrom" name="fromcurrency" required>
                  <option value="btc">btc</option>
                  <option value="eth">eth</option>
                  <option value="usd">usd</option>
                  <option value="try">try</option>
                </select>
              </div>
              <div class="col-auto">
                <label for="currency">TO</label>
              </div>
              <div class="form-login col-auto">
                  <select id="currencyTo" name="tocurrency" required>
                    <option value="btc">btc</option>
                    <option value="eth">eth</option>
                    <option value="usd">usd</option>
                    <option value="try">try</option>
                  </select>
              </div>
              <div class="form-login col-auto">
                <input class="btn btn-warning" type="submit" value="See the rate!">
              </div>
            </form>
            <% if (exchangeStatusData != null && exchangeStatusData.ex == "sql-injection") { %>
              <h6>You can not insert " ; " or " = ". Try again.</h6>
            <% } %>
            <% if (exchangeStatusData != null && exchangeStatusData.ex == "nobalance") { %>
              <h6>Your balance is not enough!</h6>
            <% } %>
            <% if (exchangeStatusData != null && exchangeStatusData.ex == "samecurrency") { %>
              <h6>Same currency exchange is not allowed!</h6>
            <% } %>
            <% if (exchangeStatusData != null && exchangeStatusData.ex == "confirm") { %>
              <h6>The rate for <%=exchangeStatusData.details[1]%> / <%=exchangeStatusData.details[2]%> is <%=exchangeStatusData.details[3]%></h6>
              <form class="row" action="/confirmexchange" method="post" class="form-login">
                <h6 class="col-auto">You are about to exchange <%=exchangeStatusData.details[0]%> <%=exchangeStatusData.details[1]%> to <%=exchangeStatusData.details[4]%> <%=exchangeStatusData.details[2]%></h6>
                <input class="btn btn-warning col-auto" type="submit" value="Confirm!">
                <button class="btn btn-warning col-auto mx-3" type="submit" formaction="/cancelexchange">Cancel!</button>
              </form>
            <% } %>
            <h6>YOUR EXCHANGES</h6>
            <table class="ex-table">
              <tr>
              <% exchangesData.forEach(entry => { %>
              <th><pre>EXCHANGE | </pre></td>
              <th><pre><%= entry.username %></pre></td>
              <th><pre> (<%= entry.fullName %>) | </pre></td>
              <th><pre><%= entry.fromAmount %></pre></td>
              <% if(entry.fromCurrency == "trl") { %>
                <th><pre><%= "try" %></pre></td>
              <% } else { %>
                <th><pre><%= entry.fromCurrency %></pre></td>
              <% } %>
              <th><pre> to <%= entry.toAmount %></pre></td>
              <% if(entry.toCurrency == "trl") { %>
                <th><pre><%= "try" %></pre></td>
              <% } else { %>
                <th><pre><%= entry.toCurrency %></pre></td>
              <% } %>
              <th><pre> | rate = <%= entry.exRate %></pre></td>
              </tr>
            <% }) %>
            </table>
        </div>    
    </div>
</div>
<!-- <h6>Welcome back <%# customerData.fullname %></h6> -->
<%- include("partials/footer.ejs") %>