<%- include("partials/header.ejs") %>
<div class="account-container ">
    <div class="row ">
        <div class="col border border-dark">
            <!-- account -->
            <h6>Welcome back <%= customerData.fullname %>!</h6>
            <h6>Your BTC balance: <%= customerData.btc %></h6>
            <h6>Your ETH balance: <%= customerData.eth %></h6>
            <h6>Your USD balance: <%= customerData.usd %></h6>
            <h6>Your TRY balance: <%= customerData.trl %></h6>
            <a class="btn btn-warning" href="/login">Log Out</a>
        </div>
        <div class="col border border-dark">
            <!-- transfer -->
            <h6>TRANSFER</h6>
            <form action="/transfer" method="post" class="form-login">
                <div class="form-login">
                  <label for="currency">Choose the currency to send: </label>
                  <br>
                  <select id="currency" name="currency" required>
                    <option value="btc">btc</option>
                    <option value="eth">eth</option>
                    <option value="usd">usd</option>
                    <option value="try">try</option>
                  </select>
                </div>
                <div class="form-login">
                  <label for="amount">Enter the amount: </label>
                  <br>
                  <input type="text" name="amount" id="amount" required>
                </div>
                <div class="form-login">
                    <label for="username">Enter the username which receives the money: </label>
                    <br>
                    <input type="text" name="username" id="username" required>
                    <p class="fw-light">(Usernames are treated like IBANs)</p>
                  </div>
                <div class="form-login">
                  <input class="btn btn-warning" type="submit" value="Send!">
                </div>
                <div class="form-login">
                  <% if (txData != null && txData.tx == "sameuser") { %>
                    <h6>Can not transfer to yourself!</h6>
                  <% } %>
                  <% if (txData != null && txData.tx == "success") { %>
                    <h6>Transfer completed!</h6>
                  <% } %>
                  <% if (txData != null && txData.tx == "nobalance") { %>
                    <h6>Your balance is not enough!</h6>
                  <% } %>
                  <% if (txData != null && txData.tx == "nouser") { %>
                    <h6>Recipient not found!</h6>
                  <% } %>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border border-dark">
            <!-- dunno yet -->
            <h6>YOUR ACTIONS</h6>
            <table>
              <tr>
              <% transfersData.forEach(entry => { %>
              <% if(customerData.username == entry.fromUsername) { %>
                <th><pre>TRANSFER: OUT | </pre></td>
              <% } %>
              <% if(customerData.username == entry.toUsername) { %>
                <th><pre>TRANSFER: IN  | </pre></td>
              <% } %>
              <th><pre>FROM: <%= entry.fromUsername %></pre></td>
              <th><pre> (<%= entry.fromName %>) </pre></td>
              <th><pre>| TO:<%= entry.toUsername %></pre></td>
              <th><pre> (<%= entry.toName %>)</pre></td>
              <th><pre> | AMOUNT: <%= entry.txAmount %></pre></td>
              <th><pre><%= entry.txCurrency %></pre></td>
              </tr>
            <% }) %>
            </table>
        </div>
        <div class="col border border-dark">
            <!-- exchange -->
            <h6>EXCHANGE</h6>
            <form action="/exchange" method="post" class="form-login">
                <div class="form-login">
                  <label for="currency">Exchange from: </label>
                  <br>
                  <select id="currency" name="fromcurrency" required>
                    <option value="btc">btc</option>
                    <option value="eth">eth</option>
                    <option value="usd">usd</option>
                    <option value="try">try</option>
                  </select>
                </div>
                <div class="form-login">
                  <label for="amount">Enter the amount to be exchanged from: </label>
                  <br>
                  <input type="text" name="amount" id="amount" required>
                </div>
                <div class="form-login">
                    <label for="currency">Exchange to: </label>
                    <br>
                    <select id="currency" name="tocurrency" required>
                      <option value="btc">btc</option>
                      <option value="eth">eth</option>
                      <option value="usd">usd</option>
                      <option value="try">try</option>
                    </select>
                  </div>
                <div class="form-login">
                  <input class="btn btn-warning" type="submit" value="Exchange!">
                </div>
            </form>
        </div>       
    </div>
</div>
<!-- <h6>Welcome back <%# customerData.fullname %></h6> -->
<%- include("partials/footer.ejs") %>